<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=192.168.0.9;Initial Catalog=BIZPLUS_DB_B2B;Persist Security Info=True;User ID=sa;Password=Nimda_sulpzib1;Connection Timeout=3600;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="HinmokuInfoBatchName" value="品目データ" />
    <add key="HinmokuInfoBatchStored" value="GetHinmokuEcRenkei_Ex" />
    <add key="HinmokuInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/Hinmoku/csv/goods_" />
    <add key="HinmokuInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/Hinmoku/csvbk/" />
    <add key="HinmokuInfoCsvUploadFile" value="goods_" />
    <add key="HinmokuInfoBatchExeName" value="LinkDataBizplusToecbeing_Hinmoku.exe" />
    <add key="HinmokuInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="TokuisakiHinmokuTankaInfoBatchName" value="得意先品目別単価データ" />
    <add key="TokuisakiHinmokuTankaInfoBatchStored" value="GetTokuisakiHinmokuEcRenkei_Ex" />
    <add key="TokuisakiHinmokuTankaInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/TokuisakiHinmokuTanka/csv/price_" />
    <add key="TokuisakiHinmokuTankaInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/TokuisakiHinmokuTanka/csvbk/" />
    <add key="TokuisakiHinmokuTankaInfoCsvUploadFile" value="price_" />
    <add key="TokuisakiHinmokuTankaInfoBatchExeName" value="LinkDataBizplusToecbeing_TokuisakiHinmokuTanka.exe" />
    <add key="TokuisakiHinmokuTankaInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="ZaikoInfoBatchName" value="在庫データ" />
    <add key="ZaikoInfoBatchStored" value="GetZaikoEcRenkei_Ex" />
    <add key="ZaikoInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/Zaiko/csv/stock_" />
    <add key="ZaikoInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/Zaiko/csvbk/" />
    <add key="ZaikoInfoCsvUploadFile" value="stock_" />
    <add key="ZaikoInfoBatchExeName" value="LinkDataBizplusToecbeing_Zaiko.exe" />
    <add key="ZaikoInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="NyukaYoteiInfoBatchName" value="入荷予定データ" />
    <add key="NyukaYoteiInfoBatchStored" value="GetNyukaEcRenkei_Ex" />
    <add key="NyukaYoteiInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/NyukaYotei/csv/stockdate_" />
    <add key="NyukaYoteiInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/NyukaYotei/csvbk/" />
    <add key="NyukaYoteiInfoCsvUploadFile" value="stockdate_" />
    <add key="NyukaYoteiInfoBatchExeName" value="LinkDataBizplusToecbeing_NyukaYotei.exe" />
    <add key="NyukaYoteiInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="ShukkaJissekiInfoBatchName" value="出荷実績データ" />
    <add key="ShukkaJissekiInfoBatchStored" value="GetShukkaJissekiEcRenkei_Ex" />
    <add key="ShukkaJissekiInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/ShukkaJisseki/csv/delivery_" />
    <add key="ShukkaJissekiInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/ShukkaJisseki/csvbk/" />
    <add key="ShukkaJissekiInfoCsvUploadFile" value="delivery_" />
    <add key="ShukkaJissekiInfoBatchExeName" value="LinkDataBizplusToecbeing_ShukkaJisseki.exe" />
    <add key="ShukkaJissekiInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="JuchuInfoBatchName" value="受注取込データ" />
    <add key="JuchuInfoBatchStored" value="SaveJuchuDataEcRenkei_Ex" />
    <add key="JuchuInfoCsvFile" value="D:/HSC/LinkDataBizplus_ecbeing/ecbeingTo Bizplus/Juchu/csv/order.csv" />
    <add key="JuchuInfoCsvBackupFile" value="D:/HSC/LinkDataBizplus_ecbeing/ecbeingTo Bizplus/Juchu/csvbk/order_" />
    <add key="JuchuInfoCsvDownloadFile" value="order.csv" />
    <add key="JuchuInfoCsvErrorFile" value="D:/HSC/LinkDataBizplus_ecbeing/ecbeingTo Bizplus/log/error/受注取込エラー.csv" />
    <add key="JuchuInfoBatchExeName" value="LinkDataEcbeingToBizplus_Juchu.exe" />
    <add key="JuchuInfoBatchExePath" value="D:/HSC/LinkDataBizplus_ecbeing/" />

    <add key="BizplusToEcbeingtTraceLogPath" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/log/trace/" />
    <add key="BizplusToEcbeingtResultLogPath" value="D:/HSC/LinkDataBizplus_ecbeing/BizplusTo ecbeing/log/result/" />
    <add key="EcbeingToBizplusTraceLogPath" value="D:/HSC/LinkDataBizplus_ecbeing/ecbeingTo Bizplus/log/trace/" />
    <add key="EcbeingToBizplusResultLogPath" value="D:/HSC/LinkDataBizplus_ecbeing/ecbeingTo Bizplus/log/result/" />
    <add key="HinmokuTraceLogName" value="LinkDataBizplusToecbeing_Hinmoku_Trace_" />
    <add key="HinmokuResultLogName" value="LinkDataBizplusToecbeing_Hinmoku_Result_" />
    <add key="TokuisakiHinmokuTankaTraceLogName" value="LinkDataBizplusToecbeing_TokuisakiHinmokuTanka_Trace_" />
    <add key="TokuisakiHinmokuTankaResultLogName" value="LinkDataBizplusToecbeing_TokuisakiHinmokuTanka_Result_" />
    <add key="ZaikoTraceLogName" value="LinkDataBizplusToecbeing_Zaiko_Trace_" />
    <add key="ZaikoResultLogName" value="LinkDataBizplusToecbeing_Zaiko_Result_" />
    <add key="NyukaYoteiTraceLogName" value="LinkDataBizplusToecbeing_NyukaYotei_Trace_" />
    <add key="NyukaYoteiResultLogName" value="LinkDataBizplusToecbeing_NyukaYotei_Result_" />
    <add key="ShukkaJissekiTraceLogName" value="LinkDataBizplusToecbeing_ShukkaJisseki_Trace_" />
    <add key="ShukkaJissekiResultLogName" value="LinkDataBizplusToecbeing_ShukkaJisseki_Result_" />
    <add key="JuchuTraceLogName" value="LinkDataEcbeingToBizplus_Juchu_Trace_" />
    <add key="JuchuResultLogName" value="LinkDataEcbeingToBizplus_Juchu_Result_" />
    <add key="LogFileSuffixName" value="*.log" />

    <add key="LogHeader" value="実行日付,実行時間,スレッド番号,ログレベル,ログ内容" />
    <add key="HinmokuResultLogKeyword" value="品目" />
    <add key="TokuisakiHinmokuTankaResultLogKeyword" value="得意先品目別単価" />
    <add key="ZaikoResultLogKeyword" value="在庫" />
    <add key="NyukaYoteiResultLogKeyword" value="入荷予定" />
    <add key="ShukkaJissekiResultLogKeyword" value="出荷実績" />
    <add key="JuchuResultLogKeyword" value="受注" />
    <add key="ResultOk" value="OK" />
    <add key="ResultNg" value="NG" />
    <add key="ServerUsername" value="Administrator" />
    <add key="ServerPassword" value="90opl;./" />
    <add key="ServerName" value="win2012srv" />
    <add key="WaitTimeForLogWrite" value="20000" />
    <add key="PsExec" value="\PSTools\PsExec64.exe" />
    <add key="pslist" value="\PSTools\pslist64.exe" />
    <add key="PsExecArgv" value="-u {0} -p {1} {2} -accepteula  -i 0 -d {3} {4}" />
    <add key="pslistArgv" value="-u {0} -p {1} {2} -accepteula  -i 0 -d {3}" />
    <add key="PsExecFileNotFound" value="PsExec could not start {0} on {1}" />
    <add key="PsExecLogonFail" value="ログオン失敗: ユーザー名を認識できないか、またはパスワードが間違っています。" />
    <add key="PsExecServerError" value="Couldn't access {0}" />

    <add key="CsvEncoding" value="UTF-8" />
    <add key="LogEncoding" value="Shift-JIS" />

    <add key="FtpServerAddress" value="win2012srv" />
    <add key="FtpUserId" value="FtpUserId" />
    <add key="FtpPassword" value="90opl;./" />
    <add key="FtpPort" value="21" />
    <add key="FtpRetryTimes" value="3" />
    <add key="FtpRetryInterval" value="30000" />
    <add key="ProxyServer" value="NoUse" />
    <add key="ProxyServerAddress" value="iproxy.hitachi.co.jp" />
    <add key="ProxyServerPort" value="8080" />
    <add key="ProxyServerUserId" value="70708861" />
    <add key="ProxyServerPassword" value="5tgb6yhn" />

    <add key="Kaisha_CD" value="001" />
    <add key="User_ID" value="admin0" />
  </appSettings>
</configuration>